<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        Image Resizer
    </title>
    
    <link rel="stylesheet" href="../static/style.css">
    
</head>
 
<body>
    <h1>
        Image Resizer
    </h1>
    
    <div class="logo">
        <img src="../static/logo.png" >
    </div>

    <div class="'background">
      <img src="../static/bg.jpg" >
    </div>
    

    <div class="container">
        <header>Upload an Image File</header>
        <p>Upload only png, jpg, jpeg images only.</p>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file"  id="file" accept=".jpg, .png, .jpeg" onchange="fileValidation()">
          <!-- <input type="button" value="Resize" onclick="process()"> -->
          <input type="submit" value="Upload" >
        </form>
        
        {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
                <p class="error">{{ msg }}</p>
            {% endfor %}
        {% endwith %}
      </div>


      <div id="imagePreview"></div>

      <div>
        <img id="input" />
      </div>
      <div>
        <img id="output" />
      </div>


        <script src="../static/app.js"></script>
    
</body>
 
</html>