<!DOCTYPE html>
<html>
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>
        Image Resizer
    </title>
    
    <link rel="stylesheet" href="../static/style.css">
    
</head>
 
<body>
    <!-- <div class="'background">
      <img src="../static/bg.jpg" >
    </div> -->
    <header>
    <div class="container">

      <div class="logo">
        <img src="../static/logo.png" >
    </div><br>
        
        <h3>Upload an Image File</h3> <br>
        <p>
        (File types supported: .jpeg, .jpg, .png)</p>
      </div>

      <div class="up">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file"  id="file" accept=".jpg, .png, .jpeg" onchange="fileValidation()"><br>
          <!-- <input type="button" value="Resize" onclick="process()"> -->
          <input type="submit" value="Upload" ><br>
        </form>

        {% with messages = get_flashed_messages() %}
            {% for msg in messages %}
                <p class="error">{{ msg }}</p>
            {% endfor %}
        {% endwith %}
      </div>

      <div class="title">
        <img src="../static/eshipz logo.png" >
      </div>

    </header>

      <div id="imagePreview"></div>

      <div>
        <img id="input" />
      </div>
      <div>
        <img id="output" />
      </div>


        <script src="../static/app.js"></script>
    
</body>
 
</html>